
#top{
  margin-top: 5%;
  display:flex;
  justify-content:space-around;
  width:100%;
}

#heading{
  margin-right:33%;

}

/* Typography */
h1 {
  text-align: left;
  font-size: 30px;
}

h3 {
  
  font-size: 30px;
  margin-left: 5%;
  padding-left: 5%;
}
/* Layout tags */
body {
  background: #f2f2f2;
  font-family: sans-serif;
  font-weight:100;
}


/* New Shelter layout */



#new {
  font-size:2em;
  background: #800000;
  text-align: left;
  color:white;
 width:20%;
  margin-left:10%;
}
#image_data {
  background: #800000;
  text-align: left;
  color:white;
  margin-right:10%;

}
#new_shelter {
  margin-top: -3%;
}
.blank_row {
  height: 60px;
  background: white;
}
#table{
  width:80%;
  margin-left:10%;
  margin-right:10%;
  height:20;
  overflow:auto;
  font-weight: 100;
  
}

/* Table */
table {
  left: 10%;
  margin: 20px auto;
  position: static;
  width: 90%;
}
.shelters {
  height: 5%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 90%;
}
th {
  background: #800000;
  color: white;
  font-size: 1.5em;
   font-weight: 100;
   line-height: 40px;
 

  line-height: 40px;
}
tr {
  background: white;
  border-bottom: 1px solid black;
  margin-bottom: 5px auto;
}
td {
  text-align: center;
  color: black;
  font-size:1.3em;
}

/* Images */
#edit {
  height:45px;
  width:45px;
}
#add {
  height:35px;
  width:35px;
  margin-top: 10px;
}
#form{
  border-style: solid;
  border-color: #800000;
  font-size:25px;
  
 
}
